*{
    box-sizing: border-box; 
    margin:0;
    padding:0;
   
}

body {
    background-image: url("https://wallpaperaccess.com/full/17495.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 100vh;
    overflow-x: hidden;
    

  }

 /* .navarea{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.navarea ul{
    list-style: none;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    
}
.navarea ul li{
    width: 14%;;

}
.navarea ul li > ul{
    display: none;
    flex-direction: column;
}
.navarea ul li> ul li{
    width: 100%;
}
.navarea ul li:hover>ul{
    display: flex;
}
.navarea a{
    text-transform: uppercase;
    display: block;
    background-color: transparent;
    padding:15px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.navarea a:hover{
    background-color: #e8e8e8;
    color:rgb(182, 95, 95);

}

.navarea.dropdown li > a{ 
    background-color: #000;
    color:#fff;
}
.navarea .dropdown li > a:hover{
    background-color: #e8e8e8; ;
}
.navarea.dropdown> a:after{
content: '+';
padding-left: 5px;
}
.text{
    width:60%;
    height:2rem;
    padding-top:0.5rem;
    border: 3px whitesmoke solid;
    background-color: transparent;
    margin-left: 1.6rem;
    font-style: italic;
    
    }
    input::placeholder {
        
        color:white;
       
        text-align: center;
        justify-content: center;
        align-items: center;
      
        font-size: 1rem;
    }
@media(max-width:600px){
    .navarea ul li{
        width:100%;
    }
}

*/
.nav1{
    height: 80px;
    background-color: transparent;
    font-family: "Playfair Display";
    font-size: 24px;
    display: flex;
  align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    position: relative;
}
.nav1 .menubtn i{
color:white;
font-size: 40px;

cursor: pointer;
display:none;
}
.nav1 .logo{
    font-size: 33px;
    color: cornsilk;
    font-weight: 600;
    margin-left: -80px;
}
.nav1 ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-family:Ubuntu ;
    font-weight: 900;
}
.nav1 ul li{
    margin: 0 50px;
   
}
.nav1 ul li > ul{
    display: none;
    flex-direction: column;
}
.nav1 ul li> ul li{
    position: relative;
width: 100%;
margin-left: -5px;

}
.nav1 ul li:hover > ul{
    display: flex;
  
}
.nav1 ul li a{
    color:cornsilk;
    text-decoration: none;
    font-size: 18px;
  
   letter-spacing: 1px;
    padding:8px 10px;
    border-radius: 5px;
   
    transition:all 0.3s ease;
}
.nav1 ul li a:hover,.nav1 ul li a.active{
    background-color: none;
    color: rgb(0, 247, 255);
}
#click{
    display: none;
}
#click:checked ~ .menu-btn i:before{
    content: "\f00d";
}

.nav2{
    width:100%;
    height:80px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  
}
.nav2 ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
}
.nav2 ul li a{
    color: white;
    text-decoration: none;
    padding: 60px 100px;
    

}
/*.nav2{
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
  align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    position: relative;
  
}
.nav2 .logo{
    font-size: 33px;
    color: cornsilk;
    font-weight: 600;
    margin-left: -80px;
}
.nav2 ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
.nav2 ul li{
    margin: 0 50px;
   
}
.nav2 ul li a{
    color:cornsilk;
    text-decoration: none;
    font-size: 18px;
  
   letter-spacing: 1px;
    padding:8px 10px;
    border-radius: 5px;
   
    transition:all 0.3s ease;
}
.nav2 ul li a:hover{
    background-color: none;
    color: rgb(0, 247, 255);
}  */
@media(max-width:940px){
    .nav1 ul{
        position: fixed;
        top:80px;
        left:-100%;
        background-color: #111;
        height:100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 1;
        
    }
  
    #click:checked ~ ul{
        left:0% ;
        
        
    } 
   
  
    .nav1 ul li{
        margin:40px 0;

    }
    .nav1 ul li a{
        font-size: 20px;
    }
    .nav1 .menubtn{
        margin-right: -20px;
    }
    .nav1 .menubtn i{
        display: block;
    }
    .nav1 .logo{
       
        transform: scale(0.8);
        
    }
    
}

/*
.nav-area2{
    font-size: 1rem;
   
    background-color: gray;

}
 .nav-area2 ul {
    
    /* justify-content: space-around; 
     align-items: center;
     text-transform: uppercase;
     display: flex;
     list-style-type: none;
     text-decoration: none;
    height: 2.5rem;
     flex-wrap: wrap;
 }
 .nav-area2 ul li{
    
    flex:auto;
    text-align: center;
    
 }
.nav-area2 ul li a{
    color: white;
    text-decoration: none;
    flex:auto;
    text-align: center;
 
   
}
.nav-area2 ul li a:hover{
   
    color: black;
    font-size: 1rem;
}
/*main{
    width:90%;
    margin:150px auto;
    border:2px solid black;
    color:rgb(14, 2, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 /*   grid-template-rows: 150px 150px;
    grid-template-columns: 1fr 1fr 1fr; 

   
}

.div1{
    background-color: rgb(193, 211, 216);
    margin: 0 1rem 0 1rem;
  
}
.div2{
   background-color:rgb(193, 211, 216);
   margin: 2rem;
   flex-wrap: wrap;
 /*   grid-column:1/-1 ;  
}
.div3{
    background-color:rgb(193, 211, 216);;
   
}
.div4{
    background-color: rgb(193, 211, 216);
    grid-column-start: 2;
    grid-column-end: 4;
}
.div5{
    background-color: rgb(193, 211, 216);
    /* change position of div 5 to div2  */
   /*grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3; */
  
  /*  grid-row:1/2;
    grid-column: 2/4;  

}
.div6{
    background-color:rgb(193, 211, 216);
}
@media(max-width:850px){
    main{
        flex-direction: column;
    }
} */
.main{
   
    
    
    border:2px solid black;
    color:rgb(14, 2, 2);
    display:flex;
    flex-wrap:wrap;
    display: grid;
    position: relative;
  
    width:100%;
 /*  grid-template-rows: 150px 150px;
    grid-template-columns: 1fr 1fr 1fr;*/

    grid-template-rows: repeat(4,330px);
    grid-template-columns:  repeat(auto-fit, minmax(330px,1fr));
    grid-row-gap:1rem; 
    grid-column-gap:1rem; 
    grid-gap:2rem;
    grid-auto-rows: 330px;
    grid-auto-flow: dense;
  /*  align-items: end; start; center  
    justify-content: start, end, center, stretch-default
 */
}

.img{
position:relative;
width:100%;
height:80%;
display: flex;
flex-wrap: wrap;
}

.para{
    line-height: 1.5;
    font-size: 1.2em;
    font-family: "Acme";
    text-align: center;
    justify-content: center;
    align-items: center;
    width:100%;
    height: auto;
    padding:0.5rem;
    background-color: rgb(200, 211, 230);
    display: flex;
    flex-wrap: wrap;
    position: relative;
   
}
#divv{
    margin: 0;
    padding:0
}
.div1{
   
   grid-column:span 2;
   
}
.div2{
  
  padding: 0;
   display: flex;
   flex-wrap: wrap;
 /*   grid-column:1/-1 ;  */
}

.div3{
 
    display: flex;
    flex-wrap: wrap;
   
}
.div4{
  
    display: flex;
    flex-wrap: wrap;
   
}

.div5{
   
    display: flex;
    flex-wrap: wrap;
    /* change position of div 5 to div2  */
   /*grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3; */
  
  /*  grid-row:1/2;
    grid-column: 2/4;  */

}
.div6{
  
    display: flex;
    flex-wrap: wrap;
    
}
.div7{
   
    grid-column:span  2;
   
    display: flex;
    flex-wrap: wrap;
}
.div8{
    
    grid-column:span 2;
    
    display: flex;
    flex-wrap: wrap;
}
.div9{
  
    display: flex;
    flex-wrap: wrap;
    
}



.forfooter{
    display: flex;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.2rem;
  
}

.forfooter li a{
    text-decoration: none;
    color: white;
}
@media(max-width:800px){
    #divv{
        grid-column:unset !important;
        grid-row:unset !important;
    }
}
.forheading{
    background-color:#5D7FB9;
   width:20rem;
   height: auto;
    color: white;
    text-align: center;
    padding:10px;
    font-family:Ubuntu;
 font-size: 25px;
    font-weight: 700;

   
}
hr.line {
    border: 0.5rem solid #5D7FB9; 
   margin:0;
    padding:0;
    width:"120%"
  }
  
  .spacecomimg{
    max-width:100%;
    position: absolute;
   
    z-index: -1;
  }
  .container{
    background-color:rgb(232, 232, 243);
    height:100%;
    line-height: 35px;
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    position: relative;
    font-size: 16px;
    padding: 0 30px 30px 30px;
    text-align: justify;
    /* display: flex;
    flex-wrap: wrap;
     max-width:100%;
     grid-gap:12px;
     margin:40px 
  }
.desc{
    border-radius: 50px;
   background-color: whitesmoke;
   width: 320px;
   margin:20px;
   padding: 25px;
} */
  }
  .heading{
     background-color: #82a4dd;
    margin: 0px -30px 0px -30px;
    
    padding:7px
    
    
  }
.figcaption{
    width: 300px; line-height: 20px; font-size: 12px; text-align: justify; 
    padding: 0px 10px 0px 10px;
    font-family: 'Newsreader', serif;
    font-size: 14px;
}


/*
iframecontainer{
    position: relative;
    width: 100%;
    height: 0;;
  
}
iframecontainer iframe{
    position: absolute;
    width: 100%;
    height: 100%;
} 
.c1{
    background-color:rgb(232, 232, 243); ;
}

*/
.respimg{
width:100%;
max-width:1500px;
height:auto
}
.forheading1{
    font-size: 37px;
    text-align: center;
    margin-top: 260px;
    color:#fff;
    font-family: "Acme";
}


@media (max-width:870px){
    .iframecontainer iframe{

        width:"100%";
        height:240px;
        object-fit: cover;
       /* width:100% !important;
        height: 200px !important; */
    }
    .imgimp{
    /*    width:100% !important;
        height: 250px !important; */

        width:"100%";
        height:250px;
        object-fit: cover;

    }
   .imgimp2{
    width:100% !important;
    height: 250px !important;
   }
}


.forheading1{
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
    margin-top: 260px;
    color:#fff;
    font-family: "Acme";
   letter-spacing: 4px;
  word-spacing: 4px;
}
.div11{
   
    grid-column:span 2;
    grid-row:span 2;
 }
 .div22{
   
   padding: 0;
    display: flex;
    flex-wrap: wrap;
  /*   grid-column:1/-1 ;  */
 }
 
 .div33{
    display: flex;
    flex-wrap: wrap;
    grid-column:span 2;
    
 }
 .div44{
   
     display: flex;
     flex-wrap: wrap;
    
 }
 
 .div55{
    
     display: flex;
     flex-wrap: wrap;
     /* change position of div 5 to div2  */
    /*grid-row-start: 1;
     grid-row-end: 2;
     grid-column-start: 2;
     grid-column-end: 3; */
   
   /*  grid-row:1/2;
     grid-column: 2/4;  */
 
 }
 .div66{
   
     display: flex;
     flex-wrap: wrap;
     
 }
 .div77{
    
     display: flex;
     flex-wrap: wrap;
 }
 .div88{
     
   
     display: flex;
     flex-wrap: wrap;
 }
 .div99{
   
     display: flex;
     flex-wrap: wrap;
     
     grid-column:span 2;
 }
 .img44{
    position:relative;
    width:100%;
    height:60%;
    display: flex;
    flex-wrap: wrap;
    }
    @media (max-width:870px){
        #media{
            width:100%;
           margin-left: 0% !important;
           margin-right:0% !important;
        }
    }

    .div111{
   
        grid-column:span 2;
        grid-row:span 2;
     }
     .div222{
       
       padding: 0;
        display: flex;
        flex-wrap: wrap;
      /*   grid-column:1/-1 ;  */
     }
     
     .div333{
        display: flex;
        flex-wrap: wrap;
       
        
     }
     .div444{
       
         display: flex;
         flex-wrap: wrap;
        
     }
     
     .div555{
        
         display: flex;
         flex-wrap: wrap;
         grid-row:span 2;
         overflow: auto;
         /* change position of div 5 to div2  */
        /*grid-row-start: 1;
         grid-row-end: 2;
         grid-column-start: 2;
         grid-column-end: 3; */
       
       /*  grid-row:1/2;
         grid-column: 2/4;  */
     
     }
     .div666{
       
         display: flex;
         flex-wrap: wrap;
         
     }
     .div777{
        
         display: flex;
         flex-wrap: wrap;
     }
     .div888{
         
       
         display: flex;
         flex-wrap: wrap;
     }
     .div99{
       
         display: flex;
         flex-wrap: wrap;
         
         grid-column:span 2;
     }
     .div-4{
         grid-column:span 2;
     }
     .button{
      width: 100%;
  
      height:2.2rem;
      background-color: #C03E30;
      color:white
     }